body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.carousel-item{
  height: 350px;
  width: 900px;
}
.carousel-item img {
  background-size:cover;
}
.main-container{
  min-height:80vh;
}
.main-part{
  padding: 50px;
}